.main{
    width: 100%;
    max-width: 1240px;
    height: calc(100vh - var(--header-height));
    display: grid;
    grid-template-rows: min-content 1fr;
    grid-template-columns: 600px 584px;
    column-gap: 56px;
    row-gap: 20px;
    grid-template-areas: 
     "heading heading"
     "orders generalInformation";
  }
  
  .heading{
    grid-area: heading;
    margin-bottom: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  .orders{
    grid-area: orders;
    overflow-y: scroll;
    scrollbar-color: #2F2F37 #8585AD;
    scrollbar-width: thin;
    scroll-behavior: smooth;
  }
  
  .orders::-webkit-scrollbar {
    width: 8px;
  }
  
  .orders::-webkit-scrollbar-track {
    background: #2F2F37;
    margin-bottom: 68px;
  }
  
  .orders::-webkit-scrollbar-thumb {
    background-color: #8585AD;
  }
  
  .stats{
    grid-area: generalInformation;
    width: 100%;
    height: calc(100% - 186px);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: minmax(0, 1fr) 150px 150px;
    gap: 60px 40px;
    overflow: hidden;
    box-sizing: border-box;
    grid-template-areas:
      "done pending"
      "total total"
      "totalToday totalToday";
  }
  
  .done{
    grid-area: done;
    height: 100%;
  }
  
  .name{
    margin-top: 0;
  }
  
  .listsContainer{
    display: flex;
    max-height: calc(100% - 54px);
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-color: #2F2F37 #8585AD;
    scrollbar-width: thin;
    scroll-behavior: smooth;
  }
  
  .list{
    margin: 0;
    padding: 0;
    list-style: none;
    width: min-content;
  }
  
  .listsContainer::-webkit-scrollbar {
    width: 8px;
  }
  
  .listsContainer::-webkit-scrollbar-track {
    background: #2F2F37;
  }
  
  .listsContainer::-webkit-scrollbar-thumb {
    background-color: #8585AD;
  }
  
  .listDone li{
    color: var(--colors-interface-success);
  }
  
  .pending{
    grid-area: pending;
  }
  
  .total{
    grid-area: total;
  }
  
  .totalToday{
    grid-area: totalToday;
  }